* {
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background: #fafafa;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.Container {
	width: 90%;
	margin: 0 auto;
}

.HomeHeader {
	margin: 1em 0 2em;
}

.LoadingMessage {
	font-size: 3rem;
	margin-top: 3em;
}

/* NAVIGATION ========================================= */

nav {
	align-items: center;
	background-color: #333333;
	color: #c0c0c0;
	display: flex;
	height: 80px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.025), 0 5px 2px rgba(0, 0, 0, 0.025), 0 15px 15px rgba(0, 0, 0, 0.035),
		0 30px 30px rgba(0, 0, 0, 0.045), 0 45px 45px rgba(0, 0, 0, 0.055);
	opacity: .95;
	margin-bottom: 1em;
}

.NavList {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
}

.NavList a {
	color: #fafafa;
}

a:hover,
a:focus {
	color: #c2c2c2;
}

.NavActive {
	padding-bottom: 4px;
	border-bottom: 1px solid #fafafa;
}

/* MAIN =============================================== */

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.MainHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.MainHeader a {
	color: #333333;
	background-color: #5ed4ff;
	padding: 1em;
	border-radius: 5px;
	font-weight: 900;
}

.MainHeader a:hover,
.MainHeader a:focus {
	background-color: #00baff;
}

/* FEATURED ROBOT ===================================== */

.FeaturedRobotDiv {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin: 2em 0 2em;
	padding-bottom: 3em;
	border-bottom: 1px solid #c2c2c2;
}

.FeaturedRobotImage {
	width: 50%;
	object-fit: cover;
	max-height: 200px;
}

.FeaturedRobotContent {
	align-self: center;
	margin-left: 2em;
	font-size: 1.125rem;
}
/* FEATURED PROJECT =================================== */

.FeaturedProjectDiv {
	display: flex;
	justify-content: space-between;
	font-size: 1.25rem;
	margin: 2em 0 2em;
	padding-bottom: 3em;
	border-bottom: 1px solid #c2c2c2;
}

.FeaturedProjectDesc {
	order: -1;
	width: 50%;
	margin-right: 3em;
	padding: 1em 2em;
	background: #f0f0f0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.025), 0 5px 2px rgba(0, 0, 0, 0.025), 0 15px 15px rgba(0, 0, 0, 0.035),
		0 30px 30px rgba(0, 0, 0, 0.045), 0 45px 45px rgba(0, 0, 0, 0.055);
}

.FeaturedProjectContent {
	/* margin-right: 3em; */
	align-self: flex-start;
}

/* GREEN EDIT BUTTON ========== */

.EditLinkDiv {
	margin-top: 3em;
	margin-bottom: 3em;
}

.EditLink {
	background-color: #49fc8b;
	padding: 0.75em 2.25em;
	color: #333333;
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.125rem;
}

.EditLink:hover,
.EditLink:focus {
	color: #333333;
	background-color: #3ede79;
}

/* CARDS ============================================== */

.Cards {
	display: flex;
	flex-direction: column;
}

.Card {
	display: flex;
	justify-content: space-between;
	margin: 2em;
	padding: 1.25em;
	background-color: #c9c9c9;
	width: 450px;
	min-height: 150px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.025), 0 5px 2px rgba(0, 0, 0, 0.025), 0 15px 15px rgba(0, 0, 0, 0.035),
		0 30px 30px rgba(0, 0, 0, 0.045), 0 45px 45px rgba(0, 0, 0, 0.055);
}

.CardFeaturedDiv {
	min-width: 33%;
	max-width: 33%;
	height: 100%;
}

.CardFeaturedProjectDiv {
	background-color: #fafafa;
}

.CardFeaturedDiv h2 {
	background-color: #fafafa;
	padding: 1em;
}

.CardImg {
	width: 100%;
}

.CardContent {
	margin-left: 2em;
	font-size: 1.25rem;
}

.CardTitle {
	text-decoration: underline;
}

.CardDeleteBtn {
	width: 65px;
	height: 30px;
	border: none;
	align-self: flex-end;
	background-color: #ff4a4a;
	color: #fafafa;
	font-size: 2rem;
	border-radius: 5px;
	margin-left: 0.75em;
}

.CardDeleteBtn:hover,
.CardDeleteBtn:focus {
	background-color: #fa2f2f;
}

.CardUnassignBtn {
	height: 30px;
	padding: 0 1em;
	border: none;
	align-self: flex-end;
	background-color: #5ed4ff;
	color: #fafafa;
	font-size: 1.125rem;
	border-radius: 5px;
}

.CardUnassignBtn:hover,
.CardUnassignBtn:focus {
	background-color: #00baff;
}

.Card a {
	color: #333333;
}

.Card a:hover,
.Card a:focus {
	color: #757575;
}

/* FORMS ============================================ */

.FormDiv {
	width: 100%;
	margin: 2em 0 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #c2c2c2;
}

/* CLOSE BUTTON */
.FormDiv a {
	position: absolute;
	font-size: 3rem;
	color: #757575;
}

.FormDiv a:hover,
.FormDiv a:focus {
	color: #333333;
}

.AddNewBtn {
	color: #333333;
}

form {
	width: 100%;
	padding: 2em 0 3em;
}

form > * {
	margin-bottom: 1.25rem;
}

form label {
	display: block;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.75em;
}

form input {
	display: block;
	border: 0.5px solid #757575;
	padding: .75em;
	margin: 0 auto 1.75rem;
	border-radius: 5px;
	font-size: 1rem;
}

form select {
	display: block;
	margin: 0 auto;
	padding: 0.25em 2em;
	border: 0.5px solid #757575;
	border-radius: 5px;
	margin-bottom: 1em;
	font-size: 1.25rem;
}

form button {
	display: block;
	color: #fafafa;
	background-color: #5ed4ff;
	padding: 0.75em 1.5em;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
	font-weight: 900;
}

form button:hover,
form button:focus {
	background-color: #00baff;
}

/* SINGLE PROJECT FLEXBOX FOR SMALL SCREENS */
@media (max-width: 580px) {
	.FeaturedProjectDiv {
		flex-direction: column;
		align-items: center;
	}

	.FeaturedProjectDesc {
		order: 1;
		width: 90%;
		margin: 0 auto 2em;
	}
}

/* CONTAINER CONTROL FOR LARGE SCREENS */
@media (min-width: 650px) {
	.Container {
		width: 80%;
		max-width: 800px;
	}

	/* .Cards {
		flex-direction: row;
	} */
}
