* {
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background: #fafafa;
	/* height: 100vh; */
	padding: 0;
	margin: 0;
	/* width: 100vw; */
}

a {
	text-decoration: none;
}

/* NAVIGATION ========================================= */

nav {
	align-items: center;
	background-color: #333333;
	color: #c0c0c0;
	display: flex;
	height: 80px;
	padding: 2em;
	margin-bottom: 1em;
}

.NavList {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
}

.NavList a {
	color: #fafafa;
}

a:hover,
a:focus {
	color: #c2c2c2;
}

.NavActive {
	padding-bottom: 4px;
	border-bottom: 1px solid #fafafa;
}

/* unused? */
ul {
	list-style: none;
}

/* MAIN =============================================== */

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

.MainHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.MainHeader a {
	color: #333333;
	background-color: #5ed4ff;
	padding: 1em;
	border-radius: 5px;
	font-weight: 900;
}

.MainHeader a:hover,
.MainHeader a:focus {
	background-color: #00baff;
}

/* FEATURED ROBOT ===================================== */

.FeaturedRobotDiv {
	display: flex;
	justify-content: flex-start;
	width: 80%;
}

.FeaturedRobotImage {
	width: 50%;
	object-fit: cover;
	max-height: 200px;
}

.FeaturedRobotContent {
	align-self: center;
	margin-left: 2em;
}
/* FEATURED PROJECT =================================== */

/* CARDS ============================================== */
.Cards {
	display: flex;
	flex-direction: column;
}

.Card {
	display: flex;
	justify-content: flex-start;
	margin: 2em;
	padding: 1.25em;
	background-color: #c9c9c9;
	max-width: 400px;
}

.CardFeaturedDiv {
	width: 33%;
	height: 100%;
}

.CardFeaturedDiv h2 {
	background-color: #fafafa;
	padding: 1em;
}

.CardImg {
	width: 100%;
}

.CardContent {
	margin-left: 2em;
}

.CardTitle {
	text-decoration: underline;
}

/* repeating here with .MainHeader a */
.Card a {
	color: #333333;
}

.Card a:hover,
.Card a:focus {
	color: #757575;
}
