/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background: #fafafa;
	/* height: 100vh; */
	padding: 0;
	margin: 0;
	/* width: 100vw; */
}

a {
	text-decoration: none;
}

/* NAVIGATION ========================================= */

nav {
	align-items: center;
	background-color: #333333;
	color: #c0c0c0;
	display: flex;
	height: 80px;
	padding: 2em;
	margin-bottom: 1em;
}

.NavList {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
}

/* add underline for active! */
.NavList a {
	color: #fafafa;
}

a:hover,
a:focus {
	color: #c2c2c2;
}

ul {
	list-style: none;
}

/* MAIN =============================================== */

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

/* TEMP */
img {
	width: 50px;
}

/* CARDS ============================================== */

.Cards {
	display: flex;
	flex-direction: column;
}

.Card {
	display: flex;
	justify-content: flex-start;
	margin: 2em;
	padding: 1.25em;
	background-color: #c9c9c9;
	max-width: 400px;
}

.CardFeaturedDiv {
	width: 33%;
	height: 100%;
}

.CardFeaturedDiv h2 {
	background-color: #fafafa;
	padding: 1em;
}

.CardImg {
	width: 100%;
}

.CardContent {
	margin-left: 2em;
}

.CardTitle {
	text-decoration: underline;
}

.Card a {
	color: #333333;
}

.Card a:hover,
.Card a:focus {
	color: #757575;
}
