/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background: linear-gradient(#ffffff, #c0c0c0);
	height: 100vh;
	padding: 0;
	margin: 0;
	width: 100vw;
}

a {
	text-decoration: none;
}

/* NAVIGATION ========================================= */

nav {
	align-items: center;
	background-color: #333333;
	color: #c0c0c0;
	display: flex;
	height: 80px;
	padding: 10px;
	margin-bottom: 1em;
}

/* add underline for active! */
.NavList {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
}

.NavList a {
	color: #fafafa;
}

a:hover,
a:focus {
	color: #c2c2c2;
}

ul {
	list-style: none;
}

/* MAIN =============================================== */

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

/* TEMP */
img {
	width: 50px;
}
